.div-wrap {
    background: #c7bdaf;
    width: 45%;
    border-radius: 15px;
    padding: 5%;
    box-shadow: 0 0 10px #403c36;
}

.div-wrap > * {
    margin-bottom: 2%;
}

#main{
    background-image: url("../img/back.gif");
    background-size: cover;      
}

.welcome-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("../img/back.gif");
    color:red;
    font-family: Bahnschrift;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 5.7em;   
}

.form-control:focus, input:focus {
    border-color: none;
    border: none;
    box-shadow: inset 0 1px 1px #82653e, 0 0 8px #82653e;
    background-color: #f5f1eb;
}

.username-input, .password-input {
    background-color: #f5f1eb;
}

input::placeholder {
    font-style: italic;
    transition: color 1s ease-out;
    transition: padding 2s ease-out;
}

.username-input-fade::placeholder, .password-input-fade::placeholder {  
    color: #82653e;
    padding-left: 85%;   
    transition: color 2s ease-in;
    transition: padding 2s ease-in;
}

.btn-default {
    background-color: #82653e;
    color:cornsilk;
}

